body{
    background-color: rgb(0, 9, 21);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: block;
}

p{
    color: rgb(141, 141, 141);
}

.header-name{
    background: -webkit-linear-gradient(rgb(5, 217, 118), rgb(4, 110, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 250px;
    margin-top: 19px;
    margin-left: 18px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.about, 
.projects,
 .contact{
    height: 350px;
    margin-left: 10px;
}

.footer{
    text-align: center;
}

.about-me{
    color: azure;
    margin-bottom: 20px;
}

.header{
    display: flex;
    margin-bottom: 5px;
    width: 1450px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    margin-top: 0px;
}

.about-line-1 
,.about-line-2{
    font-size: 65px;
    margin: 0px;
    margin-left: 90px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
}

.role-text{
    margin-left: 94px;
    margin-top: 7px;
    margin-bottom: 50px;
    font-size: 18px;
    color: rgb(141, 141, 141);
}

.about-line-1{
    margin-top: 55px;
    color: white;
    text-shadow: 1px 1px 55px rgb(55, 137, 137);
}



.about-line-2{
    background: -webkit-linear-gradient(rgb(5, 217, 118), rgb(4, 110, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 55px rgb(55, 137, 137);
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

a:hover
,.a:active{
    text-shadow: 2px 2px 22px rgb(64, 143, 160);
    font-weight: 500;
}

.a-button-contact,
.a-button-projects{
    width: 50px;
    padding: 8px 14px;
    border: 1px outset rgb(100, 235, 235);
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 1px 1px 40px rgb(26, 109, 101);

}

.a-button-contact:hover,
.a-button-projects:hover,
.a-button-linkedin img:hover,
.a-button-github img:hover,
.a-button-insta img:hover
{
    box-shadow: 2px 2px 40px rgb(0, 238, 255);
    text-shadow: 0px 0px 20px rgb(71, 224, 229);
}

.a-button-projects{
    margin-left: 100px;
}

.a-button-linkedin img{
    margin-left: 95px;
}

.a-button-github img,
.a-button-insta img{
    margin-left: 35px;
}

.a-button-linkedin img,
.a-button-github img,
.a-button-insta img{
    width: 28px;
    height: auto;
    margin-top: 10px;
    padding: 6px 6px;
    border: 1px outset rgb(100, 235, 235);
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgb(28, 95, 88);
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.img-div img{
    width: 180px;
    height: auto;
    float: right;
}

.about-me-div{
    text-align: center;
}

.section-title p{
    font-size: 50;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(5, 217, 118), rgb(4, 110, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 00px;
    padding-top: 90px;
}

.about-me-text{
    display: block;
}

.about-me-content{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about-me-para{
    margin-left: 85px;
    margin-top: 40px;
    text-align: justify;
    width: 650px;  
    position: relative;
}

.about-me-para p{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 22;
    margin-left: 10px;
    
}


.about-me-headers{
    margin-left: 85px;
    font-size: 50;
    font-weight: 620;
}

.about-me-header-1{
    background: -webkit-linear-gradient(rgb(5, 217, 118), rgb(4, 110, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 55px;
    margin-bottom: 0px;
}

.about-me-header-2{
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile-pic img{
    width: 350px;
    height: auto;
    float: right;
    margin-right: 50px;
    border-radius: 180px;
    box-shadow: 0px 0px 2500px rgb(39, 130, 130);
}

.profile-pic{
    position: relative;
}

.profile-pic img:hover{
    box-shadow: 0px 0px 2500px rgb(45, 142, 142);
}

.profile-pic:hover{
    animation-name: animationPop;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes animationUpDown{
    from {bottom: 0px;}
    to {bottom: 70px;}
}

@keyframes animationRightToLeft{
    from {right: 0px;}
    to {right: 70px;}
}

@keyframes animationPop{
    from {transform: scale(1);}
    to {transform: scale(1.02);}
}

.section-intro p{
    text-align: center;
    font-size: 17;
    margin: 0px;
    font-weight: 200;
}