body{
    background-color: rgb(0, 9, 21);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: block;
}

p{
    color: rgb(141, 141, 141);
}

.header-name{
    background: -webkit-linear-gradient(rgb(0, 255, 183), rgb(4, 75, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 250px;
    margin-top: 19px;
    margin-left: 18px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
 
.projects,
 .contact{
    height: 350px;
    margin-left: 10px;
}

.contact{
    height: 850px;
}

.footer{
    text-align: center;
}

.about-me{
    color: azure;
    margin-bottom: 20px;
}

.header{
    display: flex;
    margin-bottom: 5px;
    width: 1450px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    margin-top: 0px;
}

.about-line-1 
,.about-line-2{
    font-size: 65px;
    margin: 0px;
    margin-left: 90px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
}

.role-text{
    margin-left: 94px;
    margin-top: 7px;
    margin-bottom: 50px;
    font-size: 18px;
    color: rgb(141, 141, 141);
}

.about-line-1{
    margin-top: 55px;
    color: white;
    text-shadow: 1px 1px 55px rgb(55, 137, 137);
}

.about-line-2{
    background: -webkit-linear-gradient(rgb(5, 217, 203), rgb(4, 110, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 55px rgb(55, 137, 137);
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

a:hover
,.a:active{
    text-shadow: 0px 0px 22px rgb(64, 143, 160);
    font-weight: 500;
}

.a-button-contact,
.a-button-projects{
    width: 50px;
    padding: 5px 16px;
    border: 1.5px outset rgb(4, 61, 97);
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0px 0px 30px rgb(19, 51, 63);
    background-color: rgba(6, 6, 30, 0.833);
}

.a-button-contact:hover,
.a-button-projects:hover,
.a-button-linkedin img:hover,
.a-button-github img:hover,
.a-button-insta img:hover
{
    box-shadow: 0px 0px 80px rgb(45, 129, 170);
    border-color:rgb(11, 143, 143);
    text-shadow: none;
}

.a-button-linkedin img:hover,
.a-button-github img:hover,
.a-button-insta img:hover{
    box-shadow: 0px 0px 45px rgb(53, 142, 187);
}

.a-button-projects{
    margin-left: 100px;
}

.a-button-linkedin img{
    margin-left: 95px;
}

.a-button-github img,
.a-button-insta img{
    margin-left: 35px;
}

.a-button-linkedin img,
.a-button-github img,
.a-button-insta img{
    width: 28px;
    height: auto;
    margin-top: 10px;
    padding: 6px 6px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgb(10, 49, 83);
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.img-div img{
    width: 180px;
    height: auto;
    float: right;
}

.about-me-div{
    text-align: center;
}

.section-title p{
    font-size: 50;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(0, 255, 55), rgb(4, 102, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 00px;
    padding-top: 90px;
}

.about-me-text{
    display: block;
}

.about-me-content{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about-me-para{
    margin-left: 85px;
    margin-top: 40px;
    text-align: justify;
    width: 650px;  
    position: relative;
}

.about-me-para p{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 22;
    margin-left: 10px;
    
}


.about-me-headers{
    margin-left: 85px;
    font-size: 50;
    font-weight: 620;
}

.about-me-header-1{
    background: -webkit-linear-gradient(rgb(0, 242, 255), rgb(4, 102, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 55px;
    margin-bottom: 0px;
}

.about-me-header-2{
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile-pic img{
    width: 350px;
    height: auto;
    float: right;
    margin-right: 50px;
    border-radius: 180px;
    box-shadow: 0px 0px 2500px rgb(39, 130, 130);
}

.profile-pic{
    position: relative;
}

.profile-pic img:hover{
    box-shadow: 0px 0px 2500px rgb(45, 142, 142);
}

.profile-pic:hover{
    animation-name: animationPop;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes animationUpDown{
    from {bottom: 0px;}
    to {bottom: 70px;}
}

@keyframes animationRightToLeft{
    from {right: 0px;}
    to {right: 70px;}
}

@keyframes animationPop{
    from {transform: scale(1);}
    to {transform: scale(1.02);}
}

.section-intro p{
    text-align: center;
    font-size: 16.5;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 20px;
}

.projects-section{
    height: 2000px;
}

.projects,
.tech-stack,
.projects-title-div{
    border: 1.5px solid;
    margin: 30px;
    border-radius: 13px;
}

.projects-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects,
.tech-stack{
    margin-top: 70px;
    background-color: rgba(1, 8, 20, 0.783);
    height: 500px;
    align-items: center;
    height: 1050px;
    width: 1330px;
    margin-left: 85px;
}

.tech-stack{
    height: 700px;
}

.projects-title-div{
    width: 1210px;
    text-align: center;
    background-color: rgba(1, 8, 19, 0.783);
    border-radius: 13px;
    margin-left: 60px;
}

.project-title-container{
    border: 1.5px solid rgb(0, 70, 108);
    padding: 0px 30px;
}

.project-title-container{
    box-shadow: 0px 0px 5px rgb(3, 116, 157);
    border-radius: 10px;
}

.project-title-container p{
    margin: 8px 225px;
}

.projects-header-1 p{
    background: -webkit-linear-gradient(rgb(0, 255, 55), rgb(4, 102, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 20px;
}

.projects-header-2 p{
    color: white;
    margin-top: 0px;
    font-weight: 400;
    font-size: 19px;
}

.project-cards-container{
    max-width: 1250px;
}

.project-cards-row{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    max-width: 1450px;
}

.project-card-1,
.project-card-2,
.project-card-3{
    border: 2px solid rgb(2, 77, 104);
    height: 400px;
    background-color: rgba(9, 25, 35, 0.712);
    border-radius: 13px;
    margin-left: 5px;
    margin-right: 5px;
    width: 350px;
    margin-top: 5px;
    margin-block-start: 30px;
}

.project-card-1{
    margin-left: 110px;
}

.project-card-2{
    margin-left: 20px;
    margin-right: 20px;
}

.project-card-3{
    margin-right: 30px;
}

.project-card-1:hover,
.project-card-2:hover,
.project-card-3:hover
{
    background-color:  rgba(24, 27, 41, 0.712);
    box-shadow: 0px 0px 80px rgb(6, 87, 128);
    border-color:rgb(7, 111, 111); 
    animation-name: animationPop;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.project-image img{
    height: 170px;
    width: auto;
    align-items: center;
}

.project-image:hover{
    animation-name: animationPop;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.project-image{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-title p{
    font-weight: 700;
    font-size: 22px;
    background: -webkit-linear-gradient(rgb(125, 204, 167), rgb(132, 176, 229));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 11px;
    margin-bottom: 0px;
}

.project-description{
    font-weight: 400;
    margin-left: 10px;
    text-align: justify;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.view-details{
    margin-left: 15px;
    border: 1px solid rgb(1, 115, 115);
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    
}

.view-details:hover{
    cursor: pointer;
    background-color: rgb(237, 255, 254);
    color: rgb(1, 1, 59);
    box-shadow: 0px 0px 13px rgb(0, 103, 103);
}

.tech-stack-row{
    display: flex;
}

.tech-stack-component{
    border: 1.5px solid rgb(0, 70, 108);
    height: 160px;
    width: 140px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
}

.tech-stack-component img{
    height: 100px;
    width: auto;
    border-radius: 80px;
    margin: 10px;
}

.tech-stack-image{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.tech-stack-component:hover{
    box-shadow: 0px 0px 50px rgb(6, 87, 128);
    border-color:rgb(11, 143, 143);
    animation-name: animationPop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.tech-stack{
    height: 600px;
    margin-left: 0px;
    margin-top: 120px;
}
.tech-stack-name p{
    text-align: center;
    margin: 0px;
}

.tech-stack-row{
    justify-content: baseline;
    margin-inline-start: 185px;
}

.contact-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.connect-with-me{
    height: 500px;
    width: 400px;
    background-color: rgba(160, 169, 199, 0.089);
    border-radius: 15px;
}

.connect-with-me-title{
    margin: 5px;
}

.connect-with-me-title p{
    font-weight: 600;
    font-size: 25;
    background: -webkit-linear-gradient(rgb(91, 192, 232), rgb(7, 119, 170));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px;
    margin-top: 30px;
}

.contact-me-section{
    height: 500px;
    width: 750px;
    background-color: rgba(160, 169, 199, 0.089);
    border-radius: 15px;
}

.contact-me-title{
    background: -webkit-linear-gradient(rgb(0, 213, 255), rgb(4, 102, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 34px;
    margin: 20px 25px
}

.linkedin-btn img{
    width: 20px;
    height: auto;
}

.connect-linkedin,
.connect-insta,
.connect-github{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid rgb(129, 129, 129);
    background-color: rgba(120, 128, 148, 0.155);
    border-radius: 10px;
    width: 320px;
    height: 65px;
    margin-left: 35px;
    margin-top: 35px;
    position: relative;
    transition: transform 0.4s ease;
}

.connect-with-me-component{
    display: flex;
    height: 65px;
    width: 320px;
    justify-content: baseline;
    margin-left: 25px;
}

.connect-linkedin:hover{
    animation-name: animationPop;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.connect-linkedin::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(circle, #8ebae0a1 10%, transparent 70%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.connect-linkedin:hover::after {
  animation: spread 0.6s ease-out forwards;
  animation-fill-mode: forwards;
}

@keyframes spread {
  0% {
    width: 0;
    height: 0;
    opacity: 0.1;
    background-color: #67aacc;
    border-radius: 280px;
  }
  50% {
    width: 90%;
    height: 90%;
    opacity: 0.5;
    border-radius: 10px;

  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.25;
    background-color: #6ea1c1;
  }
}

.connect-with-me-text{
    justify-content: baseline;
    margin: 10px 0px;
    margin-left: 10px;
    width: 200px;
}

.connect-with-me-text p{
    line-height: 1.5rem;
    margin: 0px 2px;
    text-shadow: none;
}

.connect-component-line-1{
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;

}

.connect-component-line-2{
    font-size: 12px;
    font-weight: 400;
    color: rgb(164, 164, 164);

}

.connect-with-me-component img{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;
}